<%= form_with(model: comment) do |form| %>
  <%= form.hidden_field :photo_id %>

  <div class="form-group">
    <%= form.label :body, class: "visually-hidden" %>
    <%= form.text_area :body, class: "form-control" %>
  </div>

  <div class="d-grid gap-2 mb-3">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
